<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          <li><a href="https://twitter.com/dnilabs">Twitter</a></li>
          <li><a href="https://twitch.tv/dni256">Twitch</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        <a href="https://lnbits.b1tco1n.org/tipjar/1">Lightning Donation</a>
        Lightning Adress: <a href="lightning://dni.600.wtf">dni@600.wtf</a>
      </div>
    </div>
  </div>
</footer>
